/*-----------------------------------------------
   General Styling
-----------------------------------------------*/
* {
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: #333333;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

body.loading {
  overflow: hidden;
}

body.loading .loader {
  opacity: 1;
  visibility: visible;
}

body.loading .loader::before, body.loading .loader::after {
  height: 50%;
}

a, button, .btn {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

img {
  max-width: 100%;
}

b, strong {
  font-weight: 500;
}

/*-----------------------------------------------
   Helper Class
-----------------------------------------------*/
.font-light {
  font-weight: 300 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.section-sub-header {
  color: #191919;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.section-header {
  color: #191919;
  font-weight: 400;
  margin-bottom: 2rem;
}

.read-more {
  color: #663cfc;
  text-decoration: none;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
}

.read-more i {
  margin-left: 0.5rem;
}

.read-more:hover, .read-more:active, .read-more.active {
  color: #3f0afb;
}

.parallax-section {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*-----------------------------------------------
   Loader
-----------------------------------------------*/
.loader {
  position: fixed;
  background-color: #fff;
  z-index: 9999999;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #663cfc;
  -webkit-transition: .7s all ease;
  transition: .7s all ease;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}

.loader .ripple-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader .ripple-box .ripple {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: ripple-effect 1.0s infinite ease-in-out;
          animation: ripple-effect 1.0s infinite ease-in-out;
}

@-webkit-keyframes ripple-effect {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple-effect {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

/*-----------------------------------------------
   Header Section
-----------------------------------------------*/
header {
  border-bottom: 1px solid #a475fe;
}

header.inverse {
  background: -webkit-gradient(linear, left top, right top, from(#934bff), to(#5f3afc));
  background: linear-gradient(to right, #934bff 0%, #5f3afc 100%);
  border-bottom-color: transparent;
  -webkit-box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
          box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
}

header .navbar-expand-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header .navbar-expand-lg .navbar-toggler {
  color: #FFF;
  font-size: 1.5rem;
}

header .navbar-expand-lg .navbar-collapse {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar-expand-lg .navbar-nav .nav-item {
  padding: 0.25rem;
}

header .navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: #FFF;
  padding: 0.25rem 1rem;
  border-radius: 2em;
  font-size: 0.9rem;
  text-transform: uppercase;
}

header .navbar-expand-lg .navbar-nav .nav-item .nav-link:hover, header .navbar-expand-lg .navbar-nav .nav-item .nav-link:active, header .navbar-expand-lg .navbar-nav .nav-item .nav-link.active {
  color: #663cfc;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
          box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
}

/*-----------------------------------------------
   Hero Section
-----------------------------------------------*/
.hero-section {
  min-height: 100vh;
  background: url("../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 85px;
  padding-bottom: 50px;
  position: relative;
}

.hero-section:after {
  position: absolute;
  bottom: 0;
  height: 190px;
  width: 100%;
  content: '';
  background: #FFF;
  -webkit-clip-path: polygon(0 0%, 0% 100%, 100% 100%);
          clip-path: polygon(0 0%, 0% 100%, 100% 100%);
}

.hero-slider {
  padding: 100px 0px;
}

.hero-slider .hero-slide {
  color: #FFF;
}

.hero-slider .hero-slide p {
  font-size: 1rem;
  text-transform: uppercase;
}

.hero-slider .hero-slide h1 {
  margin-bottom: 2rem;
}

.hero-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.hero-slider .slick-dots li button {
  text-indent: -9999px;
  height: 5px;
  width: 25px;
  background: #663cfc;
  border-radius: 5px;
  border: 0 none;
  margin: 0 0.25rem;
}

.hero-slider .slick-dots li button:hover {
  background: #FFF;
}

.hero-slider .slick-dots li.slick-active button {
  background: #FFF;
}

.skill-area {
  border-top: 1px solid #FFF;
}

.skill-area .single-skill {
  padding: 2rem;
  color: #FFF;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skill-area .single-skill:hover, .skill-area .single-skill.active {
  color: #333333;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
          box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
}

.skill-area .single-skill:hover .skill-icon, .skill-area .single-skill.active .skill-icon {
  color: #663cfc;
}

.skill-area .single-skill:hover .skill-features, .skill-area .single-skill.active .skill-features {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skill-area .single-skill:hover .skill-features a, .skill-area .single-skill.active .skill-features a {
  color: #333333;
}

.skill-area .single-skill:hover .skill-link, .skill-area .single-skill.active .skill-link {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skill-area .single-skill .skill-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.skill-area .single-skill .skill-title {
  font-weight: 600;
}

.skill-area .single-skill .skill-detail {
  margin-bottom: 2rem;
}

.skill-area .single-skill .skill-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.skill-area .single-skill .skill-features a {
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
}

.skill-area .single-skill .skill-features a i {
  margin-right: 0.5rem;
  color: #663cfc;
}

.skill-area .single-skill .skill-features a:hover, .skill-area .single-skill .skill-features a:active {
  color: #663cfc;
}

.skill-area .single-skill .skill-link {
  font-size: 1rem;
  font-weight: 500;
  color: #663cfc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.skill-area .single-skill .skill-link i {
  margin-left: 0.5rem;
}

/*-----------------------------------------------
   About Section
-----------------------------------------------*/
.about-section {
  padding-top: 80px;
}

.about-section p {
  font-size: 1rem;
  max-width: 950px;
  margin: 0 auto 2rem;
}

/*-----------------------------------------------
   Testimonial Section
-----------------------------------------------*/
.testimonial-section {
  background: -webkit-gradient(linear, left top, right top, from(#934bff), to(#5f3afc));
  background: linear-gradient(to right, #934bff 0%, #5f3afc 100%);
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
}

.testimonial-section .testimonal-slider {
  max-width: 800px;
  margin: 0 auto;
}

.testimonial-section .testimonal-slider .testimonial-slide {
  color: #FFF;
  text-align: center;
}

.testimonial-section .testimonal-slider .testimonial-slide h5 {
  font-style: italic;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.testimonial-section .testimonal-slider .testimonial-slide p {
  margin-bottom: 3rem;
}

.testimonial-section .testimonal-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonial-section .testimonal-slider .slick-dots li button {
  text-indent: -9999px;
  height: 5px;
  width: 25px;
  background: #663cfc;
  border-radius: 5px;
  border: 0 none;
  margin: 0 0.25rem;
}

.testimonial-section .testimonal-slider .slick-dots li button:hover {
  background: #FFF;
}

.testimonial-section .testimonal-slider .slick-dots li.slick-active button {
  background: #FFF;
}

/*-----------------------------------------------
   Project Section
-----------------------------------------------*/
.project-section {
  padding: 100px 0;
}

.project-section .project-category-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-section .project-category-filter li {
  color: #c7c7c7;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 2em;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
}

.project-section .project-category-filter li:hover, .project-section .project-category-filter li:active, .project-section .project-category-filter li.mixitup-control-active {
  color: #FFF;
  background-color: #663cfc;
  -webkit-box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
          box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
}

.single-project .single-project-top {
  position: relative;
  overflow: hidden;
}

.single-project .single-project-top:hover .single-project-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.single-project .single-project-top:hover .single-project-image img {
  -webkit-transform: scale(1.2) rotate(10deg);
          transform: scale(1.2) rotate(10deg);
}

.single-project .single-project-top .single-project-image {
  background-color: #f4f3f3;
}

.single-project .single-project-top .single-project-image img {
  -o-object-fit: cover;
     object-fit: cover;
  will-change: transform;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.single-project .single-project-top .single-project-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#934bff), to(#5f3afc));
  background: linear-gradient(to right, #934bff 0%, #5f3afc 100%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  will-change: transform;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.single-project .single-project-top .single-project-overlay a {
  color: #663cfc;
  background-color: #FFF;
  width: 30px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0.25rem;
}

.single-project .single-project-bottom {
  padding: 2rem 0;
}

.single-project .single-project-bottom h6 {
  font-weight: 600;
  margin-bottom: 0;
}

.single-project .single-project-bottom p {
  color: #8c8c8c;
  font-size: 0.9rem;
}

/*-----------------------------------------------
   AChievement Section
-----------------------------------------------*/
.achievement-section {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFF;
  background-image: url("../images/achievement-bg.jpg");
}

.achievement-section:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#934bff), to(#5f3afc));
  background: linear-gradient(to right, #934bff 0%, #5f3afc 100%);
  opacity: 0.8;
}

.achievement-section .container {
  position: relative;
  z-index: 1;
}

.achievement-section .section-sub-header, .achievement-section .section-header {
  color: #FFF;
}

.achievement-section .js-counter {
  font-size: 3.5rem;
  font-weight: 600;
}

.achievement-section .play-tube-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.achievement-section .play-tube-container .play-tube-button {
  text-decoration: none;
  border-radius: 50%;
}

.achievement-section .play-tube-container .play-tube-button:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
          box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
}

/*-----------------------------------------------
   Blog Section
-----------------------------------------------*/
.blog-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.single-blog {
  margin: 1rem 0;
}

.single-blog:hover .single-blog-top:after {
  opacity: 0.6;
}

.single-blog:hover .single-blog-top .single-blog-image::before, .single-blog:hover .single-blog-top .single-blog-image::after {
  -webkit-transform: translateY(-50%) scaleY(1);
          transform: translateY(-50%) scaleY(1);
}

.single-blog:hover .read-more {
  color: #663cfc !important;
}

.single-blog .single-blog-top {
  position: relative;
  overflow: hidden;
}

.single-blog .single-blog-top .single-blog-image {
  background-color: #f4f3f3;
  position: relative;
}

.single-blog .single-blog-top .single-blog-image::before, .single-blog .single-blog-top .single-blog-image::after {
  content: '';
  position: absolute;
  width: 2px;
  border-radius: 5px;
  background: #FFF;
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
  z-index: 100;
  -webkit-transition: all 0.2s 0.15s ease-in-out;
  transition: all 0.2s 0.15s ease-in-out;
}

.single-blog .single-blog-top .single-blog-image::before {
  left: 10px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.single-blog .single-blog-top .single-blog-image::after {
  right: 10px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.single-blog .single-blog-top .single-blog-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.single-blog .single-blog-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#934bff), to(#5f3afc));
  background: linear-gradient(to right, #934bff 0%, #5f3afc 100%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.single-blog .single-blog-bottom {
  padding: 2rem 0;
}

.single-blog .single-blog-bottom h5 {
  margin-bottom: 1.5rem;
}

.single-blog .single-blog-bottom p {
  color: #8c8c8c;
  font-size: 0.9rem;
}

.single-blog .single-blog-bottom .read-more {
  color: #8c8c8c;
}

/*-----------------------------------------------
   Footer
-----------------------------------------------*/
footer {
  background: url("../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-top: -50px;
  position: relative;
}

footer:after {
  position: absolute;
  top: -1px;
  height: 190px;
  width: 100%;
  content: '';
  background: #FFF;
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
          clip-path: polygon(100% 0, 0 0, 100% 100%);
}

footer .footer-top {
  color: #fefefe;
  margin-bottom: 100px;
}

footer .footer-top a {
  color: #fefefe;
}

footer .footer-top hr {
  border-top-color: #a57cfe;
}

footer .footer-bottom {
  border-top: 1px solid #FFF;
  padding: 3rem 0;
}

footer .footer-bottom .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-bottom .footer-links li {
  margin: 0.25rem;
}

footer .footer-bottom .footer-links li a {
  color: #e6e6e6;
  padding: 0.25rem 1rem;
  border-radius: 2em;
  font-size: 0.9rem;
}

footer .footer-bottom .footer-links li a:hover, footer .footer-bottom .footer-links li a:active, footer .footer-bottom .footer-links li a.active {
  color: #663cfc;
  background: #FFF;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
          box-shadow: 0px 5px 10px rgba(23, 3, 79, 0.2);
}

footer .footer-bottom .copyright {
  font-weight: 300;
  color: #e6e6e6;
}

/*-----------------------------------------------
   Responsive Mobile First
-----------------------------------------------*/
@media (min-width: 992px) {
  .hero-slider .hero-slide h1 {
    font-size: 88px;
  }
}

/*-----------------------------------------------
   Responsive Destop First
-----------------------------------------------*/
@media (max-width: 767.98px) {
  .testimonial-section {
    padding-top: 100px;
  }
}

@media (max-width: 991.98px) {
  header .navbar-expand-lg {
    padding-top: 1rem;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 70px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #8647fe;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .skill-area .single-skill {
    color: #333333;
    background: #FFF;
    margin: 0.5rem;
  }
  .skill-area .single-skill .skill-icon {
    color: #663cfc;
  }
  .skill-area .single-skill .skill-features {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .skill-area .single-skill .skill-features a {
    color: #333333;
  }
  .skill-area .single-skill .skill-link {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hero-section::after {
    display: none;
  }
  .project-section .section-sub-header, .project-section .section-header {
    text-align: center;
  }
  .project-section .project-category-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achievement-section .single-counter {
    text-align: center;
  }
  footer {
    padding-top: 50px;
    margin: 0;
  }
  footer:after {
    display: none;
  }
}

/*-----------------------------------------------
   Responsive Min Width To Max Width
-----------------------------------------------*/
/*# sourceMappingURL=style.css.map */