/*-----------------------------------------------
   General Styling
-----------------------------------------------*/
*,
::after,
::before {
    box-sizing: border-box;
}

* {
    outline: 0;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 300px;
    height: 250px;
    position: relative;
    z-index: 0;
    user-select: none;
    overflow: hidden;

    canvas {
        z-index: 2;
        filter: blur(3px);
        transition: all 2s ease-in-out;
    }
}

.counter {
    color: #ed0000;
    position: absolute;
    z-index: 1;
    font-size: 83px;
    font-weight: 800;
    top: 20%;
    left: 15%;
    display: none;

    .deg {
        margin-left: -20px;
    }
}

.banner-text {
    position: absolute;
    z-index: 1;
    bottom: 6%;
    left: 7%;
    display: none;
}

#snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
}

.button {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    filter: blur(3px);
    user-select: none;
    pointer-events: none;
    transition: filter 2s ease-in-out;
}